__pycache__/
*.py[cod]

.pytest_cache/
.coverage
.coverage.*
htmlcov/

.venv/
venv/
.tox/
.nox/

build/
dist/
*.egg-info/

.mypy_cache/
.ruff_cache/

CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.o
*.a
*.so

config.yaml

dev/variant_lists/*
!dev/variant_lists/SCRIPTS.md

ref/*

*.sif
